<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kids Deli.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>94F9E222B8E24E8C671356A411495FA39DDBCB79</string>
				<key>dateExpires</key>
				<string>09/01/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94F9E222B8E24E8C671356A411495FA39DDBCB79</string>
						<key>dateExpires</key>
						<string>09/01/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AKMonthYearPickerView.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WFFV5C7GWT</string>
						<key>name</key>
						<string>Biren Zaverchand</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94F9E222B8E24E8C671356A411495FA39DDBCB79</string>
						<key>dateExpires</key>
						<string>09/01/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ActionSheetPicker_3_0.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WFFV5C7GWT</string>
						<key>name</key>
						<string>Biren Zaverchand</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94F9E222B8E24E8C671356A411495FA39DDBCB79</string>
						<key>dateExpires</key>
						<string>09/01/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WFFV5C7GWT</string>
						<key>name</key>
						<string>Biren Zaverchand</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94F9E222B8E24E8C671356A411495FA39DDBCB79</string>
						<key>dateExpires</key>
						<string>09/01/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>BetterSegmentedControl.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WFFV5C7GWT</string>
						<key>name</key>
						<string>Biren Zaverchand</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94F9E222B8E24E8C671356A411495FA39DDBCB79</string>
						<key>dateExpires</key>
						<string>09/01/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WFFV5C7GWT</string>
						<key>name</key>
						<string>Biren Zaverchand</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94F9E222B8E24E8C671356A411495FA39DDBCB79</string>
						<key>dateExpires</key>
						<string>09/01/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ImageSlideshow.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WFFV5C7GWT</string>
						<key>name</key>
						<string>Biren Zaverchand</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94F9E222B8E24E8C671356A411495FA39DDBCB79</string>
						<key>dateExpires</key>
						<string>09/01/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WFFV5C7GWT</string>
						<key>name</key>
						<string>Biren Zaverchand</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94F9E222B8E24E8C671356A411495FA39DDBCB79</string>
						<key>dateExpires</key>
						<string>09/01/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PUGifLoading.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WFFV5C7GWT</string>
						<key>name</key>
						<string>Biren Zaverchand</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94F9E222B8E24E8C671356A411495FA39DDBCB79</string>
						<key>dateExpires</key>
						<string>09/01/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SideMenu.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WFFV5C7GWT</string>
						<key>name</key>
						<string>Biren Zaverchand</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94F9E222B8E24E8C671356A411495FA39DDBCB79</string>
						<key>dateExpires</key>
						<string>09/01/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Stripe.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WFFV5C7GWT</string>
						<key>name</key>
						<string>Biren Zaverchand</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94F9E222B8E24E8C671356A411495FA39DDBCB79</string>
						<key>dateExpires</key>
						<string>09/01/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WFFV5C7GWT</string>
						<key>name</key>
						<string>Biren Zaverchand</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>WFFV5C7GWT.com.kp.step</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>WFFV5C7GWT</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>WFFV5C7GWT.com.kp.step</string>
				</array>
			</dict>
			<key>name</key>
			<string>Kids Deli.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b6b2a568-a748-44d9-9aa4-bade5127f2c7</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.kp.step</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>WFFV5C7GWT</string>
				<key>name</key>
				<string>Biren Zaverchand</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
